<div class="mb-5" id="property-owner-dashboard">
  <div class="d-flex justify-content-between">
    <%= render 'home/property_owner_dashboard/property_owner_profile' %>
  </div>
  <%= render 'home/property_owner_dashboard/unit_section' %>
  <%= render 'home/property_owner_dashboard/single_charge' %>
</div>
