<%= turbo_frame_tag 'expand-common-areas' do %>
  <% if @common_areas.present? %>
    <div class="d-flex gap-2 flex-wrap justify-content-center">
      <% @common_areas.each do |common_area| %>
        <%= link_to condo_common_area_path(@condo.id, common_area.id), class: "text-decoration-none", data: { turbo_frame: "modal" } do %>
          <div class="card hover-strong shadow-sm" style="width: 18rem; height: 7rem;">
            <div class="card-body">
              <span class="d-block"><%= common_area.name %></span>
              <span class="text-muted fs-8"><%= common_area.description %></span>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>

<!-- Usar na Show
<p class="align-self-center mb-0">Taxa de uso: <strong><%# area.fee_cents.zero? ? "Taxa não cadastrada" : Money.new(area.fee_cents, 'BRL').format %></strong></p>
-->

