<header class="bg-dark py-5 mt-4">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-lighter">PAGUEALUGUEL</h1>
      <p class="lead fw-normal text-white-50 mb-0">Gerencie jรก!</p>
    </div>
  </div>
</header>