<%= form_with(url: root_path) do |f| %>
  <div class="form-floating mt-4">
    <%= f.text_field :get_tenant_bill, class: "form-control" %>
    <%= f.label :get_tenant_bill, "buscar fatura" %>
  </div>
  <%= f.submit %>
<% end %>
