<div class="card border-0 rounded-0 bg-off-white mt-4 py-3 px-3">
  <div class="mb-3">
    <%= image_tag "document-search-icon", size: '25', class: 'mb-1' %>
    <span class="text-muted">Acesse sua Fatura</span>
  </div>
  <%= form_with url: find_tenant_bill_path, method: :get, id: "get_tenant_bill" do |f| %>
    <div class="d-flex mt-3 w-50 mx-auto">
      <%= f.text_field :get_tenant_bill, placeholder: "informe seu cpf", class: "form-control me-2", data: { controller: 'masked-document-number' } %>
      <%= f.submit 'Buscar', class: "btn btn-primary text-uppercase fs-7 ls-3" %>
    </div>
  <% end %>
</div>
