<div class="mb-5">
  <%= render 'home/admin_dashboard/condo_section' %>
  <div class="d-flex justify-content-between">
    <%= render 'home/admin_dashboard/admin_profile' %>
    <%= render 'home/admin_dashboard/empty' %>
  </div>
  <% if current_admin.super_admin? %>
    <%= render 'home/admin_dashboard/admin_section' %>
  <% end %>
</div>
