<div class="mb-5">  
  <%= render 'home/admin_dashboard/condo_section' %>
  <div class="d-flex justify-content-between">
    <%= render 'home/admin_dashboard/admin_profile' %>
    <%= render 'home/admin_dashboard/empty' %>
  </div>
  <%= render 'home/admin_dashboard/admin_section' %>
</div>
