<div class="card border-0 rounded-0 bg-off-white mt-4 py-3 px-3 w-49">
  <div class="mb-3">
    <%= image_tag "document-ribbon-icon", size: '25' %>
    <span class="text-muted"><%= I18n.t('views.show.cnd') %></span>
  </div>
</div>
