<div class="card border-0 rounded-0 bg-off-white mt-4 py-3 px-3">
  <div class="text-muted mb-3 fs-8">
    <%= image_tag "payment-slip-icon", size: '18' %>
    <span><%= I18n.t('views.show.payment_slip') %></span>
  </div>
</div>
