<h1><strong>Listagem de Condomínios</strong></h1>
 
<% if @condos.any? %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Cidade</th>
      </tr>
    </thead>
    <tbody>
      <% @condos.each do |condo| %>
        <tr>
          <td><%= link_to condo.name, condo_path(condo.id) %></td>
          <td><%= condo.city %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <strong>Não existem condomínios registrados.</strong>
<% end %>