.dean-modal {
  position: fixed;
  z-index: 3;
  padding: 20px;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  overflow: auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2), 0 5px 10px 0 rgba(0,0,0,0.19);

  height: 620px;
  width: 600px;
}

.limit-height {
  max-height: 95%;
}

.modal-lg {
  height: 90% !important;
  width: 60% !important;
}

.modal-md {
  height: auto !important;
  width: 30% !important;
}

.modal-sm {
  height: 40% !important;
  width: 30% !important;
}
