.avatar {
  vertical-align: middle;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.bg-light-beige {
  background-color: $off-white;
}

.bg-body-custom {
  background-color: $off-white;
}

.form-control {
  background-color: $off-white;
}

.form-control:focus {
  background-color: $off-white;
}

.form-select {
  background-color: $off-white;
}
