<h1><strong>Listagem de Taxas Cadastradas</strong></h1>

<% if @base_fees.any? %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nome</th>
      </tr>
    </thead>
    <tbody>
      <% @base_fees.each do |base_fee| %>
        <tr>
          <td><%= link_to base_fee.name, condo_base_fee_path(@condo.id, base_fee) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <strong>Não existem Taxas Cadastradas.</strong>
<% end %>
<hr>
<%= link_to I18n.t('helpers.buttons.back'), condo_path(@condo.id), class: "btn btn-secondary" %>
