<div class="text-center mt-center">
  <h2 class="text-muted"><%= I18n.t("system_out_of_air") %></h2>
  <p class="text-muted"><%= I18n.t("working") %></p>
</div>

<div class="text text-center">
  Conectando...
</div>
<div>
  <div class="box">
    <div class="comp"></div>
    <div class="loader"></div>
    <div class="con"></div>
    <div class="byte"></div>
    <div class="server"></div>
  </div>
</div>